.wrapper {
  height: 100vh;

}

.main {
    flex-grow: 1;
}

.left-menu {
  background-color: #334059;
  width: 240px;
  height: 100%;
}




.left-menu__header {
    display: flex;
    padding: 16px;
    border-bottom: 1px;
}

.left-menu__header-icon {
    margin-right: 16px;

}

.left-menu__header-text {
    color: #ffffff;
    font-family: "Roboto";
    font-size: 26px;
    margin-right: 89px;
}

.left-menu__header-action {
    
    margin-right: 20px;

}

.left-menu__list {

}

.menu-item {
    color: #FFFFFF;
    font-family: 'Roboto';
    font-size: 13px;

}

.menu-item__header {
    display: flex;
    padding: 12px;
}

.menu-item__header-icon {
    
    margin-right: 9px;
}

.menu-item__header-text {
    margin-left: 9px;
    width: 156px;
}

.menu-item__header-action {
    margin-left: auto;

}

.menu-item__list {
    margin-left: 50px;

}

.menu-item__list-item {
    color: #909EBB;
    font-family: 'Roboto';
    font-size: 13px;
    margin-top: 8px;
    margin-bottom: 8px;
    
}




