.wrapper {
  height: 100vh;
  display: flex;
}

.main {
  flex-grow: 1;
}

.left-menu {
  background-color: #334059;
  width: 240px;
  height: 100%;
}

.left-menu__header {
  display: flex;
  padding: 16px;
  border-bottom: 1px solid white;
}

.left-menu__header-icon {
  margin-right: 16px;
}

.left-menu__header-text {
  color: #ffffff;
  font-family: "Roboto";
  font-size: 26px;
  margin-right: 89px;
}

.left-menu__header-action {
  margin-right: 20px;
}

.lmenu__three-last-points {
  color: #ffffff;
  text-decoration: none;
}

.special-for-last {
  margin: 0px;
}

.menu-item {
  color: #ffffff;
  font-family: "Roboto";
  font-size: 13px;
}

.menu-item__header {
  display: flex;
  padding: 12px;
}

.menu-item__header-icon {
  margin-right: 9px;
}

.menu-item__header-text {
  margin-left: 9px;
  /* width: 156px; */
  flex-grow: 1;
}

.menu-item__header-action {
  margin-left: auto;
}

.menu-item__list {
  margin-left: 50px;
}

.menu-item__list-item {
  color: #909ebb;
  font-family: "Roboto";
  font-size: 13px;
  margin: 8px 0;
}

.main {
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.main-menu__header {
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: end;
}

.main-wrapper {
  padding: 32px 40px;
  background-color: #ebebeb;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.main-menu__header-same_icon {
  margin-right: 40px;
}
.main-wrapper__body {
  height: 100%;
  padding: 24px;
  flex-grow: 1;
}

.main-wrapper__appeal {
  font-family: "Roboto";
  font-size: 19px;
  color: #334059;
  background-color: #ffffff;
  padding: 20px 24px 24px 24px;
  /* width: calc(100%-80px); */
  border-bottom: #334059 1px solid;
}

.body__point {
  display: flex;
  font-family: "Roboto";
  font-size: 13px;
  color: #334059;
  margin: 0px;
  padding: 16px 0px 0px 24px;
  text-align: center;
  border-bottom: #334059 1px solid;
}

button {
  border: none;
  background-color: white;
  cursor: pointer;
}




.point-item {
  margin-right: 0px 32px 0px 0px;
  padding: 16px 16px 8px 16px;
}

.active {
  color: #0068bd;
  border-bottom: #0068bd 3px solid;
}

.point-item:last-child {
  color: #0068bd;
  margin-left: auto;
  padding: 16px 16px 8px 16px;
}

.body__filter {
  display: flex;
  margin-top: 8px;
}

.filter-changer {
  color: #0068bd;
}

.filter-item1 {
  margin-right: 2px;
  position: relative;
  top: 2px;
}

.filter-item2 {
  margin-right: 42px;
}

.filter-item3 {
  margin-right: 8px;
}

.filter-item4 {
  margin-right: 2px;
}

.filter-item1 {
  position: relative;
  bottom: 2.5px;
}

.body__table {
  padding: 16px 8px 16px 16px;
  margin-top: 16px;
  border-bottom: 1px solid grey;
}

.block-first-line {
  width: 100%;
}

.table-block-first-line {
  font-family: 'Roboto';
  font-size: 11px;
  color: #6F7C98;
  height: 48px;
}
.block-second-line {
  width: 100%;
  background: #F0F3FF;
}

.first-line-cell {
  padding: 16px 8px 16px 16px;
}

.first-column {
  width: 200px;
  
}

.first-column-top-text {
  color: #0068BD;
  font-family: 'Roboto'
  font-size: 13px;
  line-height: 20px;
  
}

.first-column-link {
  text-decoration: none;
  color: #0068bd;

}

.first-column-bottom-text {
  color: #6F7C98;
  font-family: 'Roboto'
  font-size: 11px;
}

.second-column {
  width: 300px;
}

.second-column {
  font-family: 'Roboto';
  font-size: 13px;
  color: #334059;
  line-height: 20px;
}

.third-column {
  width: 357px;
  font-family: 'Roboto';
  font-size: 13px;
  color: #334059;
  line-height: 20px;
}

.last-cells {
  width: 40px;
}